.btn-primary {
    background-color: orangered;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-primary:hover {
    background-color: red;
}

.btn-primary:active:focus {
    background-color: crimson;
}

.btn-primary:focus-visible {
    background-color: red;
    box-shadow: 0 0 0 4px rgba(255, 69, 0, 0.5);
}

.btn-secondary {
    background-color: darkgray;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-secondary:hover {
    background-color: grey;
}

.form-control {
    border-width: 2px;
}

.form-control:focus {
    border-color: crimson;
    border-width: 2px;
    box-shadow: none;
}

.form-range::-webkit-slider-thumb {
    background-color: orangered;
}

.form-range:focus::-webkit-slider-thumb {
    background-color: orangered;
}

.form-range::-moz-range-thumb {
    background-color: orangered;
}

.form-range:focus::-moz-range-thumb {
    background-color: orangered;
    border: 0;
    box-shadow: 0 0 0 4px rgba(255, 69, 0, 0.5);
}

.form-range::-ms-thumb {
    background-color: orangered;
}

.dropdown-toggle:focus {
    background-color: orangered;
}

.dropdown-toggle.show {
    background-color: red;
}

.dropdown-toggle.show:focus-visible {
    box-shadow: 0 0 0 4px rgba(255, 69, 0, 0.5);
}

.dropdown-item:focus {
    background-color: orangered;
    outline: none;
    color: white;
}

.accordion-button:active {
    background-color: grey;
    color: white;
}

.accordion-button:active:focus {
    box-shadow: none;
}

.accordion-button:active:focus-visible {
    box-shadow: 0 0 0 4px rgba(169, 169, 169, 0.5);
}

.accordion-button:focus {
    box-shadow: 0 0 0 4px rgba(169, 169, 169, 0.5);
}

.accordion-button:not(.collapsed) {
    background-color: darkgray;
    color: white;
    box-shadow: none;
}

.accordion-button:not(.collapsed):focus-visible {
    box-shadow: 0 0 0 4px rgba(169, 169, 169, 0.5);
    background-color: slategray;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}