.btn-primary {
    background-color: orangered;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-primary:hover {
    background-color: red;
}

.btn-primary:active:focus {
    background-color: crimson;
}

.btn-secondary {
    background-color: darkgray;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-secondary:hover {
    background-color: grey;
}
