.btn-primary {
    background-color: orangered;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-primary:hover {
    background-color: red;
}

.btn-primary:active:focus {
    background-color: crimson;
}

.btn-primary:focus-visible {
    background-color: red;
    box-shadow: 0 0 0 4px rgba(255, 69, 0, 0.5);
}

.btn-secondary {
    background-color: darkgray;
    border: 0px;
    margin-left: 1pt;
    margin-right: 1pt;
}

.btn-secondary:hover {
    background-color: grey;
}

.form-control {
    border-width: 2px;
}

.form-control:focus {
    border-color: crimson;
    border-width: 2px;
    box-shadow: none;
}