.link {
    text-decoration: none;
    font-size: x-large;
}

.brand {
    text-decoration: none;
    font-size: x-large;
    margin-left: 5pt; 
}

.navbar {
    max-height: min-content;
    position: sticky;
}

.navcol {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navrow {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nowrap {
    white-space: unset;
    overflow: auto;
}

#navlink {
    color: grey;
    transition: color 1s;
}

#navlink:hover {
    color: orangered;
}

#active {
    color: orangered;
    cursor: default;
}