.content {
    max-height: 75vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (orientation: portrait) {
    .content {
        max-height: 68vh;
        overflow-y: scroll;
    }
}

.image {
    max-width: 900;
}

.mdLink {
    text-decoration: none;
}